.top-banner{
    width: 100%;
    background: url('../../public/images/bg/bg-1.jpg') no-repeat center;
    background-size: cover;
    padding: 16.875rem 0 9.375rem;
}

.top-banner p{
    color: var(--white-color);
}

@media screen and (max-width:767px) {
    .top-banner{
        padding: 10.37rem 0 9.375rem;
    }    
}