.navigation-wrap{
    position: fixed;
    width: 100%;
    left:0;
    z-index: 1000;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    background: var(--black-color);
}

.navigation-wrap .nav-item{
    padding: 0 0.625rem;
    transition: all 0.3s linear;
}

.navbar-toggler:focus{
    outline: unset;
    border: unset;
    box-shadow: none; 
}

.navbar-toggler-icon{
    color: var(--white-color);
}

.navbar-dark .navbar-toggler-icon {
    background-image: none;
}



.nav-link a{
    font-size: 0.9375;
    font-weight: 600;
    text-transform: capitalize;
    color: var(--white-color);
    letter-spacing: 1px;
}

.nav-link:hover a,
.nav-link.active a
{
    color: var(--primary-color) !important;
}

.navigation-wrap .main-btn{
    padding: 0.3125rem 1.4375rem;
    box-shadow: none;
    margin-left: 0.625rem;
}

.white{
    color: var(--white-color) !important;
}

.yellow{
    color: var(--primary-color) !important;
}

/* responsive */
@media (max-width:991px){
    .navigation-wrap .navbar-brand img{
        height: 3.8125rem;
    }

    .navigation-wrap{
        text-align: center;
    }

    .navigation-wrap .nav-link{
        line-height: 1.875rem;
    }
}
