.testimonials-section{
    padding-top: 150px;
    padding-bottom: 50px;
}


.testimonials-section .carousel-item{
    margin-top: 3rem;
    padding: 10rem 3.125rem;
    background-color: var(--secondory-color);
    border-radius: 0.9375rem;
    text-align: center;
}

.testimonials-section .carousel-caption img{
    max-width: 5rem;
    border-radius: 50%;
    padding: 0.3125rem;
}

.testimonials-section .carousel-caption p{
    font-size: 1.125rem;
    line-height: 1.5625rem;
    font-weight: 300;
    color: var(--white-color);
    padding: 0 11% 0.625rem;
}

.testimonials-section .carousel-indicators{
    bottom: -2.8125rem;
}

.testimonials-section .carousel-indicators button{
    width: 15px;
    height: 15px;
    outline: none;
    border-radius: 50%;
    border: none;
    margin-right: 1rem;
}

@media (max-width:991px){
    .testimonials-section .carousel-caption p{
        padding: 0;
    }
}

@media  screen and (max-width:767px) {
    .testimonials-section .carousel-item{
        padding: 11rem 3.125rem;
    }
}

@media  screen and (max-width:330px) {
    .testimonials-section .carousel-item{
        padding: 13rem 3.125rem;
    }   
}